.calc-button-grid {
    display: grid;
    grid-template-columns: repeat(4, .1fr);
    grid-row-gap: 5px;
    grid-column-gap: 5px;
  }

#calc-display {
    width: 35%;
}

#clear-two-button {
    width: 5%;
}

.clear-button {
    background-color: rgb(234, 87, 38);
    border-radius: 20%;
}

.calc-two-equal-button {
    background-color: rgb(105, 149, 91);
}

#final-answer {
    color: rgb(12, 12, 148);
}